---
import { SOCIALS } from '~/constants.js';
import LoveIcon from '@icons/LoveIcon.astro';
---
<footer>
	<div class="prominent">
	Built with <LoveIcon /> by Hekky
	</div>
	<ul class="socials">
		<li class="social-link"><a href={ SOCIALS.discord } target="_blank">Discord</a></li>
		<li class="social-link"><a href={ SOCIALS.github } target="_blank">GitHub</a></li>
		<li class="social-link"><a href={ SOCIALS.patreon } target="_blank">Patreon</a></li>
		<li class="social-link"><a href={ SOCIALS.kofi } target="_blank">Ko-fi</a></li>
	</ul>
</footer>