.card {
	
	background: var(--card-bg);
	color: var(--card-contrast);
	padding: var(--card-padding);

	& .heading-container {
		
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: var(--card-padding);

		& svg {
			display: inline-block;
			margin: 0;
		}
		& h3 {
			display: inline-block;
			margin: 0 0 0 0.5rem;
			font-size: 100%;
		}
	}

	& .card-title {
		text-transform: uppercase;
	}

	& .card-content {
		& p:last-child {
			margin-bottom: 0;
		}
	}
}