header {
	position: sticky;
	top: 0;
	height: var(--header-height);
	width: 100%;
	background-color: var(--header-bg);
	color: var(--header-text);

	display: flex;
	align-items: center;
	flex: 1 1;
	flex-direction: row;
	grid-gap: .5rem;
	gap: .5rem;

	& .site-title {
		display: inline-block;
		font-size: var(--header-title-size);
		text-transform: uppercase;
		margin: 0;
		margin-left: var(--header-padding);
	}
	& .dock-right {
		margin-left: auto;
		margin-right: var(--header-padding);

		display: flex;
		align-items: center;
		flex-direction: row;
		grid-gap: 0.5rem;
		gap: 0.5rem;
	}
	& .link-external {
		display: inline-block;
		text-decoration: none;
		color: currentColor;

		// TODO: [/^]
	}

	& .search {
		padding: 0;
		margin: 0;
		border: none;
		color: currentColor;
		background-color: transparent;
	}
}