---
import { Debug } from 'astro/components';

import SocialEmbed from '@components/SocialEmbed.astro'
---
<html>
    <head>
        <SocialEmbed

        ></SocialEmbed>
    </head>

    <body>
        <slot/>
    </body>
</html>